body {
  background: #222831;
  animation: chargement 700ms 1 linear;
  -moz-user-select:none;
}

nav {
  padding: 10px 15px;
  margin: 5px 15px 0px 15px;
  background: #393e46;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  position: sticky;
  top: 0px;
  border-bottom: 5px solid #00adb5;
}

section {
  padding: 20px 20px;
  margin: 0px 15px;
  background: #2f333b;
}

h1 {
  padding: 0 20px;
  font-size: 60px;
  color: white;
  font-family: Palatino, URW Palladio L, serif;
  line-height: 0px;
  width: 42%
}

p {
  font-family: Palatino, URW Palladio L, serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: consolas;
}

a {
  font-family: Palatino, URW Palladio L, serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-family: consolas;
  outline: 0;
}

.menu {
  padding: 10px 15px;
  margin: 0px;
  background-color: #007d81;
  border: 0px;
  text-align: center;
  line-height: 0px;
  transition: 500ms ease;
}

.menu:hover{
  background-color: #222831;
  box-shadow: 0 0 0 0 #eeeeee;
  font-size: 30px;
}

.btn {
  padding: 10px 20px;
  background-color: #00adb5;
  border: 0px;
  text-align: center;
  transition: 250ms ease;
}

.btn:hover{
  background-color: #222831;
  box-shadow: 0 0 0 0 #eeeeee;
  transform: scale(1);
  animation: pulse 1.5s infinite;
}

.float{
  float: right;
}

.frame {
  width:800px;
  height:450px;
  overflow: hidden;
}

.slides {
  animation: slide 73s ease infinite 0s;
  width: 1200%;
  display: flex;
}

.img {
  width:800px;
  height:450px;
}

@keyframes slide {
  0%, 7.41%, 100% {transform: translate(0,0);}
  8.15%, 15.56% {transform: translate(-8.33%,0);}
  16.30%, 23.70% {transform: translate(-16.67%,0);}
  24.44%, 31.85% {transform: translate(-25%,0);}
  32.59%, 40% {transform: translate(-33.33%,0);}
  40.74%, 48.15% {transform: translate(-41.67%,0);}
  48.89%, 56.30% {transform: translate(-50%,0);}
  57.04%, 64.44% {transform: translate(-58.33%,0);}
  65.19%, 72.59% {transform: translate(-66.67%,0);}
  73.33%, 80.74% {transform: translate(-75%,0);}
  81.48%, 88.89% {transform: translate(-83.33%,0);}
  89.63%, 97.04% {transform: translate(-91.67%,0);}
}

@keyframes chargement {
 0% {transform: translate(0px, -1000px);}
 80% {transform: translate(0px, 10px);}
 100% {}
}

@keyframes pulse {
  0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 5px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}
