nav {
  padding: 10px 40px;
  margin: 0px 5px;
  background: #27496d;
  overflow: hidden;
  position: sticky;
  top: 0px;
}

section {
  padding: 20px 5px;
  margin: 0px 5px;
  background: #0c7b93;
}

h1 {
  font-size: 60px;
  color: white;
  font-family: Palatino, URW Palladio L, serif;
  float: left;
  line-height: 0px;
  vertical-align: middle;
}

p {
  font-family: Palatino, URW Palladio L, serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

a {
  font-family: Palatino, URW Palladio L, serif;
  color: white;
  font-size: 20px;
  text-decoration: none;
}

body {
  background: #142850;
  animation: chargement 600ms 1 ease-out;
}

@keyframes chargement {
 from {
   transform: translate(0px, -50%) scale(0.95);
 }
 to {}
}

.menu {
  padding: 10px 15px;
  margin: 0px;
  background-color: #00a8cc;
  border: 0px;
  color: white;
  text-align: center;
  line-height: 0px;
  transition: background-color 350ms ease;
}

.menu:hover{
  background-color: #3f3d41;
}

.btn {
  padding: 10px 20px;
  background-color: #807c84;
  border: 0px;
  color: white;
  text-align: center;
  transition: background-color 350ms ease;
}

.btn:hover{
  background-color: #3f3d41;
}

.float{
  float: right;
}

.img{
  width: 24.7%;
  height: auto;
  border-radius: 10px;
}
