nav {
  margin: 20px 5px;
  padding: 15px;
  background: #30357d;
  overflow: hidden;
  position: sticky;
  top: 0px;
  border-radius: 20px 20px 0px 0px;
}

section {
  margin: 20px 5px;
}

.button {
  padding: 15px;
  margin: 0px;
  background-color: #8b8b8b;
  border: 0px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  line-height: 0px;
  border-radius: 0px 0px 10px 10px;
}

.button2 {
  padding: 10px 20px;
  background-color: #807c84;
  border: 0px;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  border-radius: 100px;
}

.button:hover{
  background-color: #3f3d41;
}

.button2:hover{
  background-color: #3f3d41;
  border-radius: 10px;
}

.float{
  float: right;
}

.screen{
  width: 24.7%;
  height: auto;
  border-radius: 10px;
}

h1 {
  font-size: 60px;
  color: white;
  font-family: Palatino, URW Palladio L, serif;
  float: left;
  line-height: 0px;
  vertical-align: middle;
}

p {
  font-family: Palatino, URW Palladio L, serif;
  color: white;
  font-size: 20px;
}

a {
  font-family: Palatino, URW Palladio L, serif;
  color: white;
  font-size: 20px;
}

body {
  background: #241134;
}
